$primary-color: #fff1f2;
$secondary-color: #be185d;
$bg-color: #fecaca;
$card-color: #be185d;
$hover-color: #ec4899; 
$profile-pics: (
    #d946ef,
    #a3e635, 
    #3b82f6,
    #f97316    
);

@mixin card-with-shadow {
    background-color: $primary-color;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@function get-bg-clr($index) {
    $shade-count: length($profile-pics);
    @return nth($profile-pics, $index % $shade-count + 1);
}